@charset "UTF-8";

.container {
	width: 500px;
}

h1{
	text-shadow: 2px 2px pink;
/* 	font-family: "Times New Roman"; */
	font-weight: bold;
}

.table{
	width: 500px;
/* 	font-family: "Times New Roman"; */
}